html {
      height: 100%;
}
body {
      height: 100%;
      background: #f9efbb;
}
#root {
      height: 100%;
      width: 100%;
      
}
main {
      width: 100%;
}
#nav-style {
      position: fixed;
      background: #df807f;
}
