.homeContainer {
      background-image: url(../../Assets/Home/HomeBackground.png);
      background-size: 125vw;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 7vw;
      /* padding-left: 5vw; */
      /* padding-bottom: 3vw; */
}

.searchRecipes{
      display: flex;

}
.modalOpenSearchRecipesByIngredients {
      border-radius: 50%;
      width: 18vw;
}