.homeContainer {
      background-image: url(../../Assets/Home/HomeBackground.png);
      background-size: 125vw;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 8vw;
}
