.homeContainer {
      background-image: url(../../Assets/Home/HomeBackground.png);
      background-size: 500vw;
      display: flex;
      flex-direction: column;
      min-height: 94vh;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 8vw;
}
