.shoppingListTitle {
      text-align: center;
      font-size: 3vw;
}

.inputToAddIngredients {
      display: flex;
      justify-content: center;
      margin-bottom: 2vw;
}
.buttonToViewPersonalShoppingList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -12vw;
      z-index: 50;
}
.bodyShoppingListContainer {
      position: relative;
      top: -9vw;
      z-index: 50;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
}
.buttonInputShoppingList {
      border-radius: 50%;
      height: 3vw;
      width: 3vw;
      position: relative;
      right: 2vw;
      outline: none;
      background-color: #63759d;
      color: white;
      font-size: 1vw;
}
.inputShoppingList {
      padding-left: 1vw;
      border-radius: 1vw;
      border: rgb(238, 139, 139) solid;
      height: 2.5vw;
      width: 20vw;
      outline: none;
}
.shoppingRecipesContainer {
      width: 30vw;
      height: auto;
      background-color: #f3746b;
      border-radius: 0.5vw;
      display: flex;
      justify-content: space-around;
      padding-bottom: 1vw;
      margin: 1vw;
      -webkit-box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.75);
}
.personalShoppingListContainer1 {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
}
.recipesShoppingListContainer1 {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: baseline;
      padding-left: 5vw;
}
