@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oleo+Script&family=Oswald&family=Raleway&family=Roboto&display=swap");

.containerSearchByIngredients {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5vw;
      min-height: 97.6vh;
      height: 100%;
      background-image: url("../../Assets/Home/HomeBackground.png");
}
.containerInputSearch {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3vw;
      width: 60vw;
      height: 3vw;
      border-bottom: #df807f 0.5vw solid;
      border-radius: 0.3vw;
      background-color: white;
}
.inputSearchByIngredients {
      border: none;
      width: 50vw;
      height: 3vw;
      padding-left: 1vw;
      outline: none;
}
.buttonSearchByIngredients {
      border: none;
      height: 3vw;
      width: 10vw;
      background-color: white;
      font-family: Raleway;
      border-radius: 0 1vw 0 0;
      transition: 300ms;
}
.buttonSearchByIngredients:hover{
      background-color: #df807f;
      transition: 300ms;
}

.headerPageSearchByIngredientContainer{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-end;
}

.buttonGoBackPageSearch{
      width: 3vw;
      cursor: pointer;
      position: relative;
      left: -15vw;
}

/* ---------------------------------------------------------------------------------------------- */

.containerIngredients{
      display: flex;
      flex-wrap: wrap;
      columns: 6;
      justify-content: center;
      align-items: center;
      margin-top: 2vw;
      margin-bottom: 2vw;
      padding: .5vw;
      max-width: 70vw;
      border-radius: 1vw;
      background-color: white;
}

.containerRecipesByIngredients{
      margin-left: 5vw;
      display: flex;
      flex-wrap: wrap;
      columns: 4;
}

/* ---------------------------------------------------------------------------------------------- */

.cardContainer{
      margin-bottom: 3vw;
}



.optionsContainer {
      height: 100%;
}
.modal-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 25vw;
      min-height: 10vw;
}
.modal-footer {
      justify-content: space-between;
}
.modalOpenSearchRecipesByIngredients {
      border-radius: 50%;
      width: 18vw;
}
