.navBarContainer {
      position: fixed;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      padding-top: 1vw;
      width: 4vw;
      height: 100%;
      background-color: #184c7c;
      z-index: 9999;
}
.iconUser {
      width: 3vw;
      height: 3vw;
      fill: white;
}
.iconHome{
      width: 3vw;
      height: 3vw;
}
